<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="testDigitalSealed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <testDigitalSealed.Properties.Settings>
            <setting name="testDigitalSealed_DCPWS_DCPWSE" serializeAs="String">
                <value>http://localhost:55642/DCPWSE.asmx</value>
            </setting>
            <setting name="testDigitalSealed_NPBDCP_DCPWSE" serializeAs="String">
                <value>http://192.168.1.14/NPBDCPServer/DCPWSE.asmx</value>
            </setting>
        </testDigitalSealed.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
